
body{
    background-color: #FFE6E3;
   
}


.container {
    
    position: relative;

    height: 310vh; /* Enough space for scroll transitions */
    background-color: #B9B28A;
    z-index: 0;
      /* background-image: url("../assests/homepage_2.png"); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
    background-repeat: no-repeat;   */
    
}

.sticky-bg-wrapper {
  position: sticky;
  top: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  z-index: -1;
}
.sticky-bg{
    position: sticky;
    top: 0;
     height: 100vh;
     width: 100%;
     overflow: hidden;
     z-index: 0;
}


.background-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}




.scroll-section {
    margin-top: -100vh;
    position: sticky;
    top: 0;
    height: 100vh;
    overflow: hidden;
    
     z-index: 2;
  
  pointer-events: none;
}

.box {
    position: absolute;
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.4s ease-out;
    /* z-index: 2; */
}

.box1, .box2 {
    
    background-color: #FFE6E3;
}




/* Black Background Section (Appears After Scroll) */
.black-section {
    height: 90%;
    background-color:#FFE6E3;
    display: flex;
    justify-content: center;
    align-items: center;
    /* z-index: 1; */
}

.inner_black{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
}
.card{
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.projects{
    height: 85%;
    width: 33%;
    background-color:antiquewhite;
    
}


.graphic{
    height: 85%;
    width: 33%;
    background-color:antiquewhite;
    

}


.footer{
    height: 50vh;
    width: 100%;
    background-color: #2c2d29;
}

/* Next Section Appears After the Black Background */
.next-section {
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.section{
    all: unset;
    height: 168px;
}
.box1 {
    background-color: #FFE6E3;
    align-items: flex-end;
}

.box2 {
    background-color:#FFE6E3;
    align-items: flex-start;
}

.sec_2_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    gap: 5vh;
}

.bottom_text_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    height: 15vh;
    width: 100%;

}


.link{
    all: unset;
    color:#FE2726;
}
.text{
    color: #FE2726;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    height: 10vh;
    font-size: 12px;
}


.insta_link{
    width: 33.33%;
}
.text_container{
    margin-top: 6vh;
    width: 33.33%;
  
    text-align: center;
}
.email_link{
    width: 33.33%;
    text-align: right;
}

/*_____________________________________inner_container___________________*/
.inner_container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.sign{
    width: 20%;
    height: auto;
}

.me_div{
    width: 60%;
    border: 1px soild black;
    
}
.me_img{
    height :100px;
    
    object-fit: contain;
}
.text_container{
    width: 20%;

}


/* intro section */
.intro_section{
    position: relative;
    width: 100vw;
    height: 95vh;
    background-color:#FFE6E3;
    display: flex;
    justify-content: center;
}
.tejas_intro_image_container{
    position: sticky;
    min-width:50%;
    max-width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tejas_intro_image_container>img{
    height: 80%;
}

.right_intro{
    position: relative;
    min-width:50%;
    max-width: 50%;    
    display: flex;
    flex-direction: column;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
    

    
}
.right_intro::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
.tejas_intro{
    
    
    display: flex;
    flex-direction: column;
    min-height: 90vh;
    justify-content: center;
    
}
.tejas_intro>.texts{
  
    width: 100%;
    padding: 0px;
    text-align: left;
    margin: 0px;
    font-size: 50px;
 
}
.right_intro>.texts{
  
}
.tejas_intro>.textm{
    all: unset;
    width: 70%;
    
    display: flex;
    align-items: center;
    font-size: 18px;
    letter-spacing: 1px;
    word-spacing: 3px;
    font-weight: 525;
    

}
.tejas_intro>.texts{
   
}
.skills_section{
    height: 85vh;
}
#skill_container{
   margin-top:7vh ;
margin-bottom: 20vh;
    
}
.exprience_intro{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    margin:5vh 0vh 24vh 0vh;

}
.exprience_intro>.texts{
    font-size: 50px;
    margin: 0px;
}

.experience_container{
    
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.experience_container>.row{
    display: flex;
    
} 
.experience_container>.company{
    min-width:40% ;
    max-width: 40%;
    height: auto;
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    padding: 2vh;
}

.company>img{
    height: 50px;
    width: 50px;
    border-radius: 1vh;
    object-fit: contain;

}
.company_details{
    
    display: flex;
    flex-direction: column;
   
}
.company_details>p{
    all: unset;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 15px;
    
}
.company_details>.company_name{
    color:black;
    font-weight: 600;
    text-decoration: none;
    padding-left: 15px;
    font-size: 24px;
}
/* custom cursor  */
.hover-target {
  position: relative;
  height: 100vh;
  background-color: #FFE6E3;
  cursor: none; /* Hide system cursor */
}

.custom-cursor {
  position: fixed;
  z-index: 9999;
  background-color: #FE2726;
  color: white;
  padding: 4px 8px;
  font-size: 12px;
  border-radius: 4px;
  pointer-events: none;
  font-family: Arial, sans-serif;
  transition: transform 0.1s ease;
}


.sticky_section_title>h1{
  
    background-color:#FFE6E3;
}
.skills_intro{
    height: 85vh;
}
.skills_intro>.exprience_intro>.experience_container{
    margin-top: 5vh;
}


.skills_intro{
    padding-left: 5vw;
}
.sticky_section_title{
    
    top: 0;
    background-color:#FFE6E3; 
    z-index: 1; 
    position: sticky;
    padding: 20px 0;
}

.scrolltextcomponent_container{
    /* all: unset; */
    height: 150vh;
    width: 100vw;
    /* background-color:#2c2d29; */
    background-color:#FFE6E3; 

}
.container_2{
    
    height: 100%;
    width: 100%;

}

.texth{
    font-family:  Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /* font-family: MyImpact; */
    /* font-weight: 200; */
    letter-spacing: 1.5px;

    font-size: 50px;
}

.texts{
    font-family: Arial, Helvetica, sans-serif;

}
.textm{
    font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 768px) {
    
.texth{
    font-family: 'Anton', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /* font-family: MyImpact; */
    /* font-weight: 200; */
    letter-spacing: 1.5px;

    font-size: 50px;
}

.texts{
    font-family: Arial, Helvetica, sans-serif;

}
.textm{
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    
    position: relative;

    height: 270vh; /* Enough space for scroll transitions */
    background-color: #B9B28A;
    z-index: 0;
      /* background-image: url("../assests/homepage_2.png"); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
    background-repeat: no-repeat;   */
    
}

.sticky-bg-wrapper {
  position: sticky;
  top: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: -1;
}

.background-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.scroll-section {
    /* margin-top: -100vh; */
    position: sticky;
    top: 0;
    height: 100vh;
    overflow: hidden;
    
     z-index: 2;
  
  pointer-events: none;
}

.box {
    position: absolute;
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.4s ease-out;
    /* z-index: 2; */
}

.box1{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.box2{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}




.section1{
   
    margin: 0px;
    padding: 0px;
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
    object-fit: contain;
}
.section2{
    margin: 0px;
    padding: 0px;
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.name{
    width: 70vw;
    height: auto;
    object-fit: contain;
}


.bottom_text_container{
    position: relative;
    padding-top:25px;
    width: 80%;
    max-height: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.text_container{
    margin: 0px;
    padding: 0px;
    min-width: 40%;
    
}
.text_container>.text{
    font-size: 10px;
    
}

.soc_link{
    position: relative;
    z-index: 5;

}
.soc_link{
    cursor: pointer;
    position: relative;
    z-index: 5px;
}


/* intro section  */

.tejas_intro_image_container{
    min-height: 50vh;

    display: flex;
    justify-content: center;
    align-items: center;
}
.intro_section{
    min-width: 100vw;
    max-width: 100vw;
    height: 50vh;
}
.tejas_intro_image_container>img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.right_intro{
    
    
}

.tejas_intro>.texts{
  
    width: 100%;
    padding: 0px;
    text-align: left;
    margin: 0px;
    font-size: 12px;
 
}
.tejas_intro>.textm{
    min-width: 90%;
    max-width: 90%;
    font-size: 10px;
    padding:10px;
}
.tejas_intro>.texth{
    margin: 0px;
     padding-left:10px;
}

.right_intro{
    position: relative;
    min-width:50%;
    max-width: 50%;
    min-height: 50vh;    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
   
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 50vh;
}
.tejas_intro{
    min-width: 100%;
    max-width: 100%;
    min-height: 50vh;
    
}

.scrolltextcomponent_container{
    height: 75vh;
    /* background-color:#2679fe; */
}
.skills_intro{
    height: 50vh;
}


/* eperience */

/* .experience_container{
    position: relative;
    z-index: 2;
    min-width: 100vw;
    

} */
.experience_container{
    
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    /* gap: 2vw; */
}
.experience_container>.company{
    min-width:100% ;
    max-width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 2vh;
}

.company>img{
    height: 25px;
    width: 25px;
    border-radius: 1vh;
    object-fit: contain;

}

.company>.company_details>.textm{
    font-size: 14px;

}
.company>.company_details>.texts{
    font-size: 8px;

}



.texth{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 200;
    letter-spacing: 1.5px;
     /* display: inline-block;
    transform: scaleX(1.5) */
    font-size: 30px;
}

.texts{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;

}
.textm{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8px;
}



/* skills */
.skills_section{
    /* all: unset; */
    width: 100vw;
    background-color:#FE2726;

}
.sticky_section_title{
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.skills_intro{
    min-width: 100%;
    /* height: max-content; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:flex-start;
    /* background-color: #fff; */
}
.skills_icons{
    display: none;
}
#skill_container{
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* padding-top: 8vh; */
    /* background-color:aqua; */
    /* height: 40vh; */
   
    
}
.skill_container>.skill{
   /* background-color:#FE2726; */
   margin: 0px;
   min-width: 40%;
   padding: 5px;
}
.skill_details{
    margin: 0px;
    padding: 0px;
}

.skill_details>p{
    margin: 0px;
}



 .skills_section,
  .skills_intro {
    /* height: auto;      */
    /* min-height: auto;   */
    /* padding-top:30vh ; */
    padding-bottom: 5vh; 
  }
 #skill_container {
    margin: 0vh 0;        /* smaller margin */
    flex-direction: column;
  }

  .exprience_intro {
    margin: 2vh 0;        /* avoid pushing content too far down */
  }

.skill{
    height: 40vh;
}

}
/* right_intro skills_intro hover-target */