/* ScrollText.css */
body {
  margin: 0;
  background: #fff4f2;
  font-family: sans-serif;
}

.scroll-wrapper {

  height: 150vh; /* Ensures enough vertical scroll */
  position: relative;
  overflow: hidden;
  transform: rotate(-3deg);
}

.text-line {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  position: fixed;
  width: 100vw;
  font-size: 20vw;
  font-weight: bold;
  white-space: nowrap;
  color: #ff2d2d;
  line-height: 1;
  will-change: transform;
  pointer-events: none;
}

.left-to-right {
  top: 10%;
}

.right-to-left {
  top: 40%;
}
