#root{
    position: relative;
   
}

.Nav{
    
    position: fixed;

    z-index:3 ;
        
    display: flex;
    justify-content:space-around;
    gap: 75vw;
    align-items: center;


    
    align-items: center;
    background-color:rgba(176, 21, 21, 0);
    
    color: white;
    width: 100vw;
    height: 10vh;

      background: rgba(255, 255, 255, 0); /* transparent white */
    backdrop-filter: blur(15px);          /* main blur effect */
    -webkit-backdrop-filter: blur(12px);  /* Safari support */

    border-bottom: 1px solid rgba(255, 255, 255, 0);
    /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
}

.Link_item{
    all: unset;
    cursor: pointer;
    color: #FE2726;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.nav_list{
   
    all: unset;
    display: flex;
    gap: 10px;
    font-family: Arial, Helvetica, sans-serif;
   


}
li{
    all: unset;
    font-family: Arial, Helvetica, sans-serif;
}
.logo{
    object-fit: contain;
    height: 100px;
}

.nav_logo{
    padding-left: 3vh;
    height: 50px;
    width: 50px;
    object-fit: contain;
}