body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  
  .zoom-page {
    height: 100%; /* Enough scroll space */
  }
  
  .zoom-section {
    position: sticky;
    top: 0;
    height: 110vh;
    background: #111;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    z-index: 0;
    transform-origin:center;
    transition: transform 0.3s ease;
    overflow: hidden;
  }
  
  .zoom-image {
    
    margin-top: 10%;
    width: 100%;
    height: 100vh;
    object-fit: cover;


  }
  
  .zoom-text {
    text-align: center;
  }



  /* pintrest page */
  .gallery-container {
    column-count: 2; 
    column-gap: 16px;
    padding: 40px;
  }
  
  .gallery-img {
    width: 100%;
    margin-bottom: 16px;
    border-radius: 12px;
    break-inside: avoid;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
  }
  
  .gallery-img:hover {
    transform: scale(1.03);
  }

  @media (min-width: 1400px) {
    .gallery-container {
      column-count: 5;
    }
  }

  @media (min-width: 600px) {
    .gallery-container {
      column-count: 3;
    }
  }

  @media (min-width: 900px) {
    .gallery-container {
      column-count: 4;
    }
  }
  